<div class="p-5">
  <div class="grid grid-cols-2 gap-4">
    <div class="main-container">
      <div class="flex gap-2 mb-2">
        <input
          (input)="setEditorName($event)"
          placeholder="Name"
          class="border-2 border-gray-300"
        />
        <input
          (input)="setEditorCode($event)"
          placeholder="Code"
          class="border-2 border-gray-300"
        />
      </div>
      <div
        class="editor-container editor-container_classic-editor"
        #editorContainerElement
      >
        <div class="editor-container__editor">
          <div #editorElement>
            <ckeditor
              [editor]="Editor"
              [config]="config"
              (change)="onEditorChange($event)"
              *ngIf="isLayoutReady"
            ></ckeditor>
          </div>
        </div>
      </div>
    </div>
    <div><h1 class="underline">Template</h1></div>
  </div>
</div>
